@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.container,
.form-container,
.bg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  justify-content: space-around;
  height: 100%;
}

html {
  background-color: #e6fcffd7;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

.container {
  width: 100%;
  margin: auto;
}

.bg-form {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: none;
}

.form-content {
  width: 400px;
  height: 500px;
  background-color: white;
  background-color: lightcyan;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  cursor: pointer;
}

h1 {
  text-align: center;
  color: teal;
}

h4 {
  margin-top: 40px;
  font-size: 1.5rem;
  color: lightseagreen;
}

table {
  border-collapse: collapse;
}

.table-caption {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem 0;
  color: rgb(31, 137, 203);
}

td {
  border: 0.9px solid black;
  padding: 0 0.5rem;
}

td,
.remove-btn,
.change-status-btn {
  font-size: 23px;
}

.remove-btn {
  background-color: #ff7979;
  border: #ff7979 solid 1px;
}

.remove-btn:hover {
  background-color: #e65151;
}

.new-book-btn {
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  border: none;
  background-color: rgb(39, 184, 184);
  color: white;
  font-size: 1.25rem;
}

.new-book-btn:hover {
  background-color: rgb(0, 148, 148);
}

.input {
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.input label {
  flex-grow: 1;
}

.input-read {
  padding-left: 0;
}

.read,
.not-read {
  margin-left: 0.95rem;
}

input.title,
input.author,
input.pages,
input.read {
  background-color: rgb(255, 255, 240);
}

.submit-form-btn {
  margin: 1.25rem auto;
  padding: 10px 30px;
  background-color: lemonchiffon;
  border: bisque solid 1.2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.submit-form-btn:hover {
  background-color: rgb(255, 242, 126);
}

.change-status-btn {
  background-color: #7ed6df;
  border: #7ed6df solid 1px;
}

.change-status-btn:hover {
  background-color: #33b6c5;
}

.change-status-btn,
.remove-btn {
  margin-bottom: 2px;
  padding: 6px;
  margin-left: 5px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  line-height: 1.18;
  cursor: pointer;
  transition: all ease-in-out 150ms;
  -webkit-transition: all ease-in-out 150ms;
  -moz-transition: all ease-in-out 150ms;
  -ms-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
}

.warn-duplicate {
  display: inline-block;
  color: rgb(255, 107, 136);
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
